
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* mikwas custom resets */
button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  font: inherit; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #f0f0f0;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.6;
  -webkit-font-smothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

h1, h2, h3, h4, h5 {
  font-weight: 300;
  line-height: 1.2;
  text-align: center; }

h1 {
  font-size: 2.4rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.6rem; }

h4 {
  font-size: 1.4rem; }

h5 {
  font-size: 1.1rem; }

.container {
  display: block;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 320px) and (max-width: 479px) {
    .container {
      width: 100%; } }
  @media (min-width: 480px) and (max-width: 639px) {
    .container {
      width: 100%; } }
  @media (min-width: 640px) and (max-width: 1023px) {
    .container {
      width: 80%; } }
  @media (min-width: 1024px) and (max-width: 1247px) {
    .container {
      width: 80%; } }
  @media (min-width: 1248px) {
    .container {
      width: 80%; } }
  .container:before, .container:after {
    content: '';
    display: table; }
  .container:after {
    clear: both; }

.holder {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #f3f3f3; }
  .holder .preloader {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    -webkit-animation: rotatePreloader 2s infinite  ease-in;
            animation: rotatePreloader 2s infinite  ease-in; }
    .holder .preloader div {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0; }
      .holder .preloader div:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 0%;
        width: 10%;
        height: 10%;
        background-color: rgba(0, 0, 0, 0.5);
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        border-radius: 50%; }

.preloader div:nth-child(1) {
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
  -webkit-animation: rotateCircle1 2s infinite linear;
          animation: rotateCircle1 2s infinite linear;
  z-index: 9; }

@-webkit-keyframes rotateCircle1 {
  0% {
    opacity: 0; }
  0% {
    opacity: 1;
    -webkit-transform: rotateZ(36deg);
            transform: rotateZ(36deg); }
  7% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg); }
  57% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg); }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1; } }

@keyframes rotateCircle1 {
  0% {
    opacity: 0; }
  0% {
    opacity: 1;
    -webkit-transform: rotateZ(36deg);
            transform: rotateZ(36deg); }
  7% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg); }
  57% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg); }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1; } }

.preloader div:nth-child(2) {
  -webkit-transform: rotateZ(36deg);
          transform: rotateZ(36deg);
  -webkit-animation: rotateCircle2 2s infinite linear;
          animation: rotateCircle2 2s infinite linear;
  z-index: 8; }

@-webkit-keyframes rotateCircle2 {
  5% {
    opacity: 0; }
  5.0001% {
    opacity: 1;
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg); }
  12% {
    -webkit-transform: rotateZ(-36deg);
            transform: rotateZ(-36deg); }
  62% {
    -webkit-transform: rotateZ(-36deg);
            transform: rotateZ(-36deg); }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1; } }

@keyframes rotateCircle2 {
  5% {
    opacity: 0; }
  5.0001% {
    opacity: 1;
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg); }
  12% {
    -webkit-transform: rotateZ(-36deg);
            transform: rotateZ(-36deg); }
  62% {
    -webkit-transform: rotateZ(-36deg);
            transform: rotateZ(-36deg); }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1; } }

.preloader div:nth-child(3) {
  -webkit-transform: rotateZ(72deg);
          transform: rotateZ(72deg);
  -webkit-animation: rotateCircle3 2s infinite linear;
          animation: rotateCircle3 2s infinite linear;
  z-index: 7; }

@-webkit-keyframes rotateCircle3 {
  10% {
    opacity: 0; }
  10.0002% {
    opacity: 1;
    -webkit-transform: rotateZ(-36deg);
            transform: rotateZ(-36deg); }
  17% {
    -webkit-transform: rotateZ(-72deg);
            transform: rotateZ(-72deg); }
  67% {
    -webkit-transform: rotateZ(-72deg);
            transform: rotateZ(-72deg); }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1; } }

@keyframes rotateCircle3 {
  10% {
    opacity: 0; }
  10.0002% {
    opacity: 1;
    -webkit-transform: rotateZ(-36deg);
            transform: rotateZ(-36deg); }
  17% {
    -webkit-transform: rotateZ(-72deg);
            transform: rotateZ(-72deg); }
  67% {
    -webkit-transform: rotateZ(-72deg);
            transform: rotateZ(-72deg); }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1; } }

.preloader div:nth-child(4) {
  -webkit-transform: rotateZ(108deg);
          transform: rotateZ(108deg);
  -webkit-animation: rotateCircle4 2s infinite linear;
          animation: rotateCircle4 2s infinite linear;
  z-index: 6; }

@-webkit-keyframes rotateCircle4 {
  15% {
    opacity: 0; }
  15.0003% {
    opacity: 1;
    -webkit-transform: rotateZ(-72deg);
            transform: rotateZ(-72deg); }
  22% {
    -webkit-transform: rotateZ(-108deg);
            transform: rotateZ(-108deg); }
  72% {
    -webkit-transform: rotateZ(-108deg);
            transform: rotateZ(-108deg); }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1; } }

@keyframes rotateCircle4 {
  15% {
    opacity: 0; }
  15.0003% {
    opacity: 1;
    -webkit-transform: rotateZ(-72deg);
            transform: rotateZ(-72deg); }
  22% {
    -webkit-transform: rotateZ(-108deg);
            transform: rotateZ(-108deg); }
  72% {
    -webkit-transform: rotateZ(-108deg);
            transform: rotateZ(-108deg); }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1; } }

.preloader div:nth-child(5) {
  -webkit-transform: rotateZ(144deg);
          transform: rotateZ(144deg);
  -webkit-animation: rotateCircle5 2s infinite linear;
          animation: rotateCircle5 2s infinite linear;
  z-index: 5; }

@-webkit-keyframes rotateCircle5 {
  20% {
    opacity: 0; }
  20.0004% {
    opacity: 1;
    -webkit-transform: rotateZ(-108deg);
            transform: rotateZ(-108deg); }
  27% {
    -webkit-transform: rotateZ(-144deg);
            transform: rotateZ(-144deg); }
  77% {
    -webkit-transform: rotateZ(-144deg);
            transform: rotateZ(-144deg); }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1; } }

@keyframes rotateCircle5 {
  20% {
    opacity: 0; }
  20.0004% {
    opacity: 1;
    -webkit-transform: rotateZ(-108deg);
            transform: rotateZ(-108deg); }
  27% {
    -webkit-transform: rotateZ(-144deg);
            transform: rotateZ(-144deg); }
  77% {
    -webkit-transform: rotateZ(-144deg);
            transform: rotateZ(-144deg); }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1; } }

.preloader div:nth-child(6) {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  -webkit-animation: rotateCircle6 2s infinite linear;
          animation: rotateCircle6 2s infinite linear;
  z-index: 4; }

@-webkit-keyframes rotateCircle6 {
  25% {
    opacity: 0; }
  25.0005% {
    opacity: 1;
    -webkit-transform: rotateZ(-144deg);
            transform: rotateZ(-144deg); }
  32% {
    -webkit-transform: rotateZ(-180deg);
            transform: rotateZ(-180deg); }
  82% {
    -webkit-transform: rotateZ(-180deg);
            transform: rotateZ(-180deg); }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1; } }

@keyframes rotateCircle6 {
  25% {
    opacity: 0; }
  25.0005% {
    opacity: 1;
    -webkit-transform: rotateZ(-144deg);
            transform: rotateZ(-144deg); }
  32% {
    -webkit-transform: rotateZ(-180deg);
            transform: rotateZ(-180deg); }
  82% {
    -webkit-transform: rotateZ(-180deg);
            transform: rotateZ(-180deg); }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1; } }

.preloader div:nth-child(7) {
  -webkit-transform: rotateZ(216deg);
          transform: rotateZ(216deg);
  -webkit-animation: rotateCircle7 2s infinite linear;
          animation: rotateCircle7 2s infinite linear;
  z-index: 3; }

@-webkit-keyframes rotateCircle7 {
  30% {
    opacity: 0; }
  30.0006% {
    opacity: 1;
    -webkit-transform: rotateZ(-180deg);
            transform: rotateZ(-180deg); }
  37% {
    -webkit-transform: rotateZ(-216deg);
            transform: rotateZ(-216deg); }
  87% {
    -webkit-transform: rotateZ(-216deg);
            transform: rotateZ(-216deg); }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1; } }

@keyframes rotateCircle7 {
  30% {
    opacity: 0; }
  30.0006% {
    opacity: 1;
    -webkit-transform: rotateZ(-180deg);
            transform: rotateZ(-180deg); }
  37% {
    -webkit-transform: rotateZ(-216deg);
            transform: rotateZ(-216deg); }
  87% {
    -webkit-transform: rotateZ(-216deg);
            transform: rotateZ(-216deg); }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1; } }

.preloader div:nth-child(8) {
  -webkit-transform: rotateZ(252deg);
          transform: rotateZ(252deg);
  -webkit-animation: rotateCircle8 2s infinite linear;
          animation: rotateCircle8 2s infinite linear;
  z-index: 2; }

@-webkit-keyframes rotateCircle8 {
  35% {
    opacity: 0; }
  35.0007% {
    opacity: 1;
    -webkit-transform: rotateZ(-216deg);
            transform: rotateZ(-216deg); }
  42% {
    -webkit-transform: rotateZ(-252deg);
            transform: rotateZ(-252deg); }
  92% {
    -webkit-transform: rotateZ(-252deg);
            transform: rotateZ(-252deg); }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1; } }

@keyframes rotateCircle8 {
  35% {
    opacity: 0; }
  35.0007% {
    opacity: 1;
    -webkit-transform: rotateZ(-216deg);
            transform: rotateZ(-216deg); }
  42% {
    -webkit-transform: rotateZ(-252deg);
            transform: rotateZ(-252deg); }
  92% {
    -webkit-transform: rotateZ(-252deg);
            transform: rotateZ(-252deg); }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1; } }

.preloader div:nth-child(9) {
  -webkit-transform: rotateZ(288deg);
          transform: rotateZ(288deg);
  -webkit-animation: rotateCircle9 2s infinite linear;
          animation: rotateCircle9 2s infinite linear;
  z-index: 1; }

@-webkit-keyframes rotateCircle9 {
  40% {
    opacity: 0; }
  40.0008% {
    opacity: 1;
    -webkit-transform: rotateZ(-252deg);
            transform: rotateZ(-252deg); }
  47% {
    -webkit-transform: rotateZ(-288deg);
            transform: rotateZ(-288deg); }
  97% {
    -webkit-transform: rotateZ(-288deg);
            transform: rotateZ(-288deg); }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1; } }

@keyframes rotateCircle9 {
  40% {
    opacity: 0; }
  40.0008% {
    opacity: 1;
    -webkit-transform: rotateZ(-252deg);
            transform: rotateZ(-252deg); }
  47% {
    -webkit-transform: rotateZ(-288deg);
            transform: rotateZ(-288deg); }
  97% {
    -webkit-transform: rotateZ(-288deg);
            transform: rotateZ(-288deg); }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1; } }

.preloader div:nth-child(10) {
  -webkit-transform: rotateZ(324deg);
          transform: rotateZ(324deg);
  -webkit-animation: rotateCircle10 2s infinite linear;
          animation: rotateCircle10 2s infinite linear;
  z-index: 0; }

@-webkit-keyframes rotateCircle10 {
  45% {
    opacity: 0; }
  45.0009% {
    opacity: 1;
    -webkit-transform: rotateZ(-288deg);
            transform: rotateZ(-288deg); }
  52% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg); }
  102% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg); }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1; } }

@keyframes rotateCircle10 {
  45% {
    opacity: 0; }
  45.0009% {
    opacity: 1;
    -webkit-transform: rotateZ(-288deg);
            transform: rotateZ(-288deg); }
  52% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg); }
  102% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg); }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1; } }

@-webkit-keyframes rotatePreloader {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
            transform: translateX(-50%) translateY(-50%) rotateZ(0deg); }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
            transform: translateX(-50%) translateY(-50%) rotateZ(-360deg); } }

@keyframes rotatePreloader {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
            transform: translateX(-50%) translateY(-50%) rotateZ(0deg); }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
            transform: translateX(-50%) translateY(-50%) rotateZ(-360deg); } }

.header {
  width: 100%;
  height: auto;
  background: #33b5e5;
  position: relative;
  text-align: center; }
  @media (max-width: 319px) {
    .header {
      width: 100%;
      height: auto;
      min-height: 50px; } }
  @media (min-width: 320px) and (max-width: 479px) {
    .header {
      width: 100%;
      height: auto;
      min-height: 50px;
      padding: 0; } }
  @media (min-width: 480px) and (max-width: 639px) {
    .header {
      width: 100%;
      height: auto;
      min-height: 50px;
      padding: 0; } }
  @media (min-width: 640px) and (max-width: 1023px) {
    .header {
      width: 100%;
      height: auto;
      min-height: 50px; } }
  @media (min-width: 1024px) and (max-width: 1247px) {
    .header {
      width: 100%;
      height: auto;
      min-height: 50px; } }
  @media (min-width: 1248px) {
    .header {
      width: 100%;
      height: auto;
      min-height: 50px; } }
  .header .logo__item {
    min-height: 50px;
    max-height: 100px;
    max-width: 100%;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh; }
    @media (min-width: 320px) and (max-width: 479px) {
      .header .logo__item {
        max-height: 50px; } }
    @media (min-width: 480px) and (max-width: 639px) {
      .header .logo__item {
        max-height: 65px; } }
  .header .header__nav {
    text-align: right;
    font-size: 26px;
    float: left;
    color: #ffffff;
    cursor: pointer;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    @media (max-width: 319px) {
      .header .header__nav {
        left: 10px; } }
    @media (min-width: 320px) and (max-width: 479px) {
      .header .header__nav {
        left: 10px; } }
    @media (min-width: 480px) and (max-width: 639px) {
      .header .header__nav {
        left: 10px; } }

.main {
  max-height: 80vh;
  width: 70%;
  -webkit-box-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 320px) and (max-width: 479px) {
    .main {
      width: 100%;
      height: auto; } }
  @media (min-width: 480px) and (max-width: 639px) {
    .main {
      width: 100%;
      height: auto; } }
  @media (min-width: 640px) and (max-width: 1023px) {
    .main {
      width: 100%;
      height: auto; } }
  .main .city {
    height: auto;
    text-align: center; }
    @media (max-width: 319px) {
      .main .city {
        width: 100%;
        height: auto;
        font-size: 16px; } }
    @media (min-width: 320px) and (max-width: 479px) {
      .main .city {
        width: 100%;
        height: auto; } }
  .main .icon {
    line-height: 50px;
    height: 50px;
    text-align: center; }
    .main .icon img {
      height: 50px;
      width: 50px; }
    @media (min-width: 320px) and (max-width: 479px) {
      .main .icon {
        width: 100%; } }
  .main .info {
    max-height: 80vh;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
    @media (max-width: 319px) {
      .main .info {
        width: 100%; } }
    @media (min-width: 320px) and (max-width: 479px) {
      .main .info {
        width: 100%;
        height: auto; } }
    @media (min-width: 480px) and (max-width: 639px) {
      .main .info {
        width: 100%;
        height: auto; } }
    @media (min-width: 640px) and (max-width: 1023px) {
      .main .info {
        width: 100%;
        height: auto; } }

.footer {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #33b5e5;
  text-align: center;
  display: block; }
  @media (max-width: 319px) {
    .footer {
      width: 100%;
      font-size: 10px;
      height: auto; } }
  @media (min-width: 320px) and (max-width: 479px) {
    .footer {
      width: 100%;
      height: auto;
      font-size: 12px; } }
  @media (min-width: 480px) and (max-width: 639px) {
    .footer {
      width: 100%;
      height: auto;
      font-size: 16px; } }
  @media (min-width: 640px) and (max-width: 1023px) {
    .footer {
      width: 100%;
      height: auto; } }
  @media (min-width: 1024px) and (max-width: 1247px) {
    .footer {
      width: 100%;
      height: auto; } }

.overlay_menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  overflow-x: hidden;
  -webkit-transition: .5s;
  transition: .5s; }
  .overlay_menu .overlay__content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    -webkit-transition: .3s;
    transition: .3s; }
    .overlay_menu .overlay__content .overlay__content-select {
      width: 50%;
      display: block;
      margin: auto;
      margin-bottom: 5%;
      border: none;
      border-radius: 10px;
      height: 25px;
      font-size: 16px;
      line-height: 25px;
      text-align: center;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }
    .overlay_menu .overlay__content .overlay__content-input {
      width: 50%;
      display: none;
      margin: auto;
      margin-bottom: 5%;
      border: none;
      text-align: center;
      border-radius: 10px;
      font-size: 16px;
      line-height: 25px;
      height: 25px; }
    .overlay_menu .overlay__content .overlay__content-btn {
      display: block;
      height: 50px;
      line-height: 50px;
      color: #EBE7E7;
      width: 50%;
      background: #00C851;
      border-radius: 10px;
      margin: auto; }

@media screen and (max-width: 450px) {
  .overlay_menu a {
    font-size: 20px; }
  .overlay_menu .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px; } }

.visible {
  width: 25%; }
  @media (min-width: 320px) and (max-width: 479px) {
    .visible {
      width: 100%;
      background: #80deea; } }
  @media (min-width: 480px) and (max-width: 639px) {
    .visible {
      width: 100%;
      background: #80deea; } }
